.background{
    height: 100%;
    background-color: #ffeccf;
}

.navbar{
    background-color: #358874;
}

#home {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 25px;
}

.home-icon{
    width: 75%;
}

#galery{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 25px;
}

#preview{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    background-color: #358874;
}

.custom-link {
    color: inherit;
    text-decoration: none;
}
  
.custom-link:hover {
    color: inherit;
    text-decoration: none;
}
  