.background1{
    height: 100%;
    background-color: #ffeccf;
}

.background2{
    height: 100%;
    background-color: #358874;
}

.navbar{
    background-color: #358874;
}

#home {
    margin: 25px 10%;
    padding: 5px;
}

.home-icon{
    width: 90%;
}

#galery{
    margin: 25px;
}

.carousel-img{
    width: 100%;
    height: 100%;
}

#preview{
    margin: 25px 10%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview-card{
    width: 20rem;
}

.preview-card-body{
    background-color: #358874;
}

.shop{
    padding: 25px;
}

.footer{
    background-color: #358874;
}

.custom-link {
    color: inherit;
    text-decoration: none;
}
  
.custom-link:hover {
    color: inherit;
    text-decoration: none;
}
  